:root {
  --app-bg-color: #ffffff;
  --app-text-color: #303133;
  --app-secondary-text-color: #555555;
  --header-bg-color: rgba(255, 255, 255, 0.671);
  --header-border-color: #dcdfe6;
  --card-bg-color: #ffffff;
  --card-border-color: #e4e7ed;
  --card-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  --pagination-active-color: #6da051;
  --pagination-hover-color: #6da051;
  --link-hover-color: #6da051;
  --tag-bg-color: #ecf5ff;
  --tag-text-color: #5f5f5f;
  --tag-border-color: #d9ecff;
}
